
<div class = "margin">
  <h1>ようこそBookersへ</h1>
    <p class = "honbun">ここは本の感想をレビューするサイトです</p>
    <p class = "honbun">みんなで書き込もう</p>
  <span class = "honbun">
    <%= link_to "start", main_page_path %>
  </span>
</div>